extends layout.pug 

block crashed 
  section.desk
    h1= error.message 
    img.desk-items(src='/public/img/desk.svg')
    a.button-primary-small(href='/hello') Go Home
    .paper
      h2= error.status 
      pre.stack-trace= error.stack
    .tear