doctype html
html(lang='eng')
  head
    title Flash Cards
  body
    header
      h1 Flash Cards
    section#content
      table 
        caption
          b My Best Friends 
        thead
          tr 
            th First name 
            th Last name 
        tbody 
          tr
            each firstname in firstNames 
              td= firstname
            each lastname in lastNames
              td= lastname     
      h2= prompt
      if hint
        p
          i Hint: #{hint}
    footer
      p An app to help you study